body {
    background-color: grey;
}

.title {
    text-align: center;
    color: white;
}
.main {
    text-align: center;
    background-color: white;
    margin: 50px 100px;
    padding: 10px;
}

#submit {
    color: grey;
    margin: 15px;
    padding: 15px;
}

textarea {
    width: 350px;
    height: 50px;
    color: grey;
}
